/* 폰트 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}

::-webkit-scrollbar-button:start {
    background-color: white;
}

::-webkit-scrollbar-button:end {
    background-color: white;
}

::-webkit-scrollbar-track-piece {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #B27C47;
}

/* 공통 */
* {
    font-family: 'S-CoreDream-3Light';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin-top: 68px;
    background-color: #D6C5B4;
}

a {
    transition: .2s ease-in-out;
    color: #333;
    text-decoration: none;
}

tr td button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #B27C47;
    color: white;
    border: none;
    border-radius: 3px;
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
textarea,
button {
    padding: 10px;
    margin: 5px 2px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 13px;
    background-color: #B27C47;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover,
a:hover {
    opacity: .8;
}

button:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

input[type="text"] {
    padding: 11px;
}

[type="radio"],
span {
    vertical-align: middle;
}

[type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid #B27C47;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.2s ease-in-out;
    margin-right: 2px;
}

[type="radio"]:checked {
    border: 0.4em solid #B27C47;
}

[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #B27C47;
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

[type="radio"]:hover+span {
    cursor: pointer;
}

[type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

[type="radio"]:disabled+span {
    opacity: 0.7;
    cursor: not-allowed;
}

textarea {
    resize: none;
}

.container {
    padding: 20px;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #F6DCAA;
}

h2 {
    margin: 20px 0;
}

h4 {
    margin: 20px 0;
}

/* 빠른 스타일 적용 */
.confirm {
}

.danger {
    background-color: #5C3916;
}

.margin {
    margin: 20px 0;
}

.full {
    width: 100%;
}

.ml {
    margin-left: 20px;
}


/* 테이블 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #5C3916;
}

th,
td {
    padding: 10px;
    border: 1px solid #5C3916;
    text-align: center;
}

.container th,
.container td {
    border: 0;
}

th {
    background-color: #5C3916;
    color: #f2f2f2;
}

.container th,
.container td {
    font-family: 'Humanbumsuk';
    background-color: transparent;
    color: #333;
}

.container th {
    background-color: rgba(123, 90, 52, .1);
    border-bottom: .5px dashed rgba(162, 194, 249, .3);
    color: #858585;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: rgba(123, 90, 52, .1);
}

.container tr:nth-child(even) {
    border: .5px dashed rgba(123, 90, 53, .3);
}

/* 헤더 */
.header {
    background-color: rgba(255, 255, 255, .6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.header span {
    margin: 0 10px;
}

.header span * {
    color: #5C3916;
}

.title * {
    letter-spacing: 1px;
    font-family: 'Giants-Bold';
    font-weight: 600;
    font-size: 20px;
}

/* 메인 */
.slide {
    width: 100%;
    height: 550px;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.slides li {
    flex: 0 0 100%;
}

img {
    width: 100%;
    height: auto;
}

.controller {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.controller span {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .6);
    padding: 12px 16px;
    margin: 0 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.pagination span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: gray;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
}

.pagination span.active {
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* 페이지 공통 */
.content {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
    padding: 40px;
}

/* 메뉴 관리 */
.cafe {}

/* 상품 주문 */
.cart {}

/* 주문 내역 */
.list {}

/* 푸터 */
.footer {
    text-align: center;
    font-size: 13px;
    font-weight: 100;
    padding: 40px 0 80px;
    color: #838383;
}

.footer a {
    color: #B27C47;
}