* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin-top: 60px;
}

a {
    color: #333;
    text-decoration: none;
}

input {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #333;
}

.header {
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
}
