/* 공통 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'S-CoreDream-3Light';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin-top: 55px;
    background-color: #fbfbfc;
}

a {
    color: #333;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #858ff1;
    text-align: center;
}

th {
    background-color: #8eb0f2;
    color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

tr td button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #9dc3ff;
    color: white;
    border: none;
    border-radius: 3px;
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
textarea,
button {
    padding: 10px;
    margin: 5px 2px;
    border: 1px solid #858ff1;
    border-radius: 5px;
}

button {
    padding: 8px;
    background-color: #9dc3ff;
    color: white;
    cursor: pointer;
}

.confirm {
    background-color: #90a1f8;
}

button:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

input[type="date"] {
    padding: 9px;
}

input[type="text"] {
    padding: 11px;
}

[type="radio"],
span {
    vertical-align: middle;
}

[type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid #858ff1;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.2s ease-in-out;
    margin-right: 2px;
}

[type="radio"]:checked {
    border: 0.4em solid #9dc3ff;
}

[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #9dc3ff;
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

[type="radio"]:hover+span {
    cursor: pointer;
}

[type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

[type="radio"]:disabled+span {
    opacity: 0.7;
    cursor: not-allowed;
}

textarea {
    resize: none;
}

.margin {
    margin: 20px 0;
}

.full {
    width: 100%;
}

.container {
    padding: 20px;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h2 {
    margin: 20px 0;
}

h4 {
    margin: 20px 0;
}

.ml {
    margin-left: 20px;
}

/* 헤더 */
.header {
    background-color: #9dc3ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.header span {
    margin-right: 15px
}

.title {
    font-weight: 900;
    margin-right: 80px !important;
}

/* 메인 */
.slide {
    width: 100%;
    height: 550px;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.slides li {
    flex: 0 0 100%;
}

img {
    width: 100%;
    height: auto;
}

.controller {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.controller span {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 12px 20px;
    margin: 0 30px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.pagination span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: gray;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
}

.pagination span.active {
    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* 페이지 공통 */
.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* 메뉴 관리 */
.cafe {}

/* 상품 주문 */
.cart {}

/* 주문 내역 */
.list {}

/* 푸터 */
.footer {
    text-align: center;
    font-size: 12px;
    padding: 40px;
}